:root{
    --Brightorange: hsl(31, 77%, 52%);
    --Darkcyan: hsl(184, 100%, 22%);
    --Verydarkcyan: hsl(179, 100%, 13%);

    /* (paragraphs) */
    --Transparenwhite: hsla(0, 0%, 100%, 0.75);

    /* (background, headings, buttons) */
    --Verylightgray: hsl(0, 0%, 95%);
    
}

*{ 
    width: 100%;
    height: auto;
    font-size: 15px;
    background-color: var(--Verylightgray);
}


.main{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 400px;
    justify-content: center;
    align-content: center;
    margin-top: 70px;
}

.iconoCar{
     background-color: transparent;
    width: 80px;
    height: 50px;
    margin-left: 40px;
    margin-top: 40px;
}

.main h2{
    background-color: transparent;
    color: var(--Verylightgray);
    width: auto;
    height: auto;
    padding-left: 40px;
    font-size: 30px;
}

.main p{
    background-color: transparent;
    width: auto;
    height: auto;
    color: var(--Transparenwhite);
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
}

.sedan{
    background-color: var(--Brightorange);
    border-radius: 2% 0 0 2%; 
}

.sedan button{
    color: var(--Brightorange);
}

.suv{
    background: var(--Darkcyan);
}

.suv button{
    color: var(--Darkcyan);
}

.lux{
    background: var(--Verydarkcyan);
    border-radius: 0 2% 2% 0;
}

.lux button{
    color: var(--Verydarkcyan);
}

.btnInfo{
    width: 120px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: var(--Verylightgray);
    margin-left: 40px;
    margin-top: 50px;
}

.btnInfo:hover{
    background: transparent;
    cursor: pointer;
    color: var(--Verylightgray);
    border: solid;
    border-color: var(--Verylightgray);
}

footer{
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 0;
}

footer a{
    text-decoration: none;
}